<!-- <div class="container">
    <h1>Player Form</h1>
    <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input [(ngModel)]="model.name" type="text" class="form-control" name="name" required>
      </div>

      <div class="form-group">
        <label for="matches">Partidas</label>
        <input [(ngModel)]="model.matches" type="text" class="form-control" id="matches" name="matches">
      </div>
 
      <div class="form-group">
        <label for="wins">Vitorias</label>
        <input [(ngModel)]="model.wins" type="text" class="form-control" id="wins" name="wins">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div> -->

<div class="bd-main-container container bd-lead">
  <form (ngSubmit)="onSubmit()" #playerForm="ngForm" class="column is-half is-offset-one-quarter">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input [(ngModel)]="player.name" name="name" class="input" type="text" placeholder="Type the player's name" required>
        </div>
      </div>
    
      <div class="field">
        <label class="label">How many matches?</label>
        <div class="control">
          <input [(ngModel)]="player.matches" name="matches" class="input" type="number" placeholder="Type how many matches the player has" required>
        </div>
      </div>
    
      <div class="field">
        <label class="label">How many wins?</label>
        <div class="control">
          <input [(ngModel)]="player.wins" name="wins" class="input" type="number" placeholder="Type how many times the player won" required>
        </div>
      </div>
    
      <div class="control">
        <button [class.is-loading]="isBusy === true" 
            class="button is-primary">Save</button>
      </div>
  </form>
</div>