<div class="bd-main-container container bd-lead">
  <div *ngIf="players">
    <table class="table is-bordered is-fullwidth">
        <thead class="thead-light">
        <tr>
          <th scope="col">Pos</th>
          <th scope="col">Name</th>
          <th scope="col">Wins</th>
          <th scope="col">Matches</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let player of players; let i = index" [attr.data.index]="i">
            <th scope="row">{{i + 1}}</th>
            <th>{{player.name}}</th>
            <th><small class="tag">{{player.wins}}</small></th>
            <th><small class="tag">{{player.matches}}</small></th>
            <th>
              <div class="buttons">
                  <a (click)="addWin(player)" 
                     [class.is-loading]="isBusy === true"
                     class="button is-small is-primary">+Win</a>
                  <a (click)="addMatch(player)" 
                     [class.is-loading]="isBusy === true"
                     class="button is-small is-info">+Match</a>
              </div>
            </th>
          </tr>
        </tbody>
    </table>
  </div>
</div>