<div class="bd-main-container container bd-lead">
  <div *ngIf="notificationService.notifications.length" class="column is-4 is-offset-8">
    <div *ngFor='let notification of notificationService.notifications; let i = index' [attr.data.index]="i" class="notification is-danger">
      <button (click)="notificationService.remove(i)" class="delete"></button>
      {{notification}}
    </div>
  </div>
</div>